<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <base target="_self">

</head>

<body>

<div id="ruletree" class="demo-tree-more"></div>

<form class="layui-form" action="">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formUpload">提交</button>
        </div>
    </div>
</form>


<script src="/layui/layui.all.js"></script>
<script>

    var tree = layui.tree
    var layer = layui.layer
    var form = layui.form;
    var $ = layui.$;

    $.ajax({
        type: "POST",
        url: "/admin/rule/gettreejson?type=layuitree",
        dataType: 'json',
        success: function(data) {

            //基本演示
            tree.render({
                elem: '#ruletree'
                // ,data: '/admin/rule/getruletree'
                ,data: data
                ,showCheckbox: true  //是否显示复选框
                ,isJump : false //开启跳转
                ,id: 'allrule'
                //,edit: ['del'] //操作节点的图标
                ,click: function(obj){
                    // layer.msg(JSON.stringify(obj.data));
                }
                ,operate: function(obj){
                    var type = obj.type; //得到操作类型：add、edit、del
                    var data = obj.data; //得到当前节点的数据
                    var elem = obj.elem; //得到当前节点元素

                    //Ajax 操作
                    var id = data.id; //得到节点索引

                    if(type === 'add'){ //增加节点

                    } else if(type === 'update'){ //修改节点

                    } else if(type === 'del'){ //删除节点





                        $.ajax({
                            type: "POST",
                            url: "/admin/rule/delete?rule_id=" + id,
                            dataType: 'json',
                            success: function (data) {
                                layer.msg(data);

                                //可以重载所有基础参数
                                // tree.reload('allrule', {});

                                setTimeout(function(){
                                    window.location.reload();
                                },2000);
                            }
                        })






                    };
                }
            });



            tree.setChecked('allrule', {$hasRules}); //勾选指定节点
        }
    });





    //获取选中节点的id
    function getCheckedId(jsonObj) {
        var id = "";
        $.each(jsonObj, function (index, item) {
            if (id != "") {
                id = id + "," + item.id;
            }
            else {
                id = item.id;
            }
            var i = getCheckedId(item.children);
            if (i != "") {
                id = id + "," + i;
            }
        });
        return id;
    }





        //监听提交
        form.on('submit(formUpload)', function (data) {


            //获得选中的节点
            var checkData = tree.getChecked('allrule');

            ruleIDS = getCheckedId(checkData);


            $.ajax({
                url: '',
                type: 'post',
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                data: {"ruleids": ruleIDS},
                success: function (res_data) {

                    if (res_data == 'ok') {
                        // layer.msg("添加权限成功");

                        // location.href="/admin/rule/disfetch?role_id=" + {$Request.get.role_id}

                        location.href="/admin/role/index"
                    }
                },
                error: function (jqXHR) {
                    // layer.msg(jqXHR.responseJSON.msg)
                }
            })
            return false;
        })

</script>



</body>
