<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css">

</head>

<body>



<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>角色名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>


    {foreach $result as $key=>$vo }


    <tr>


        <td>
            {$vo.role_name}
        </td>
        <td>
            <div class="layui-btn-group">
                {if $vo.id > 1 }
                <button type="button" class="layui-btn layui-btn-sm"><a href="{:url('/admin/rule/disfetch', ['role_id' => $vo.id])}">赋予权限</a></button>
                <button type="button" class="layui-btn layui-btn-sm"><a href="{:url('/admin/role/edit', ['role_id' => $vo.id])}">编辑</a></button>
                <button type="button" class="layui-btn layui-btn-sm"><a href="{:url('/admin/role/delete', ['role_id' => $vo.id])}">删除</a></button>
                {/if}
            </div>
        </td>
    </tr>

    {/foreach}


    </tbody>
</table>





















<script src="/layui/layui.all.js"></script>
<script>
    var form = layui.form;
    var $ = layui.$;

    //监听提交
    form.on('submit(formUpload)', function(data){
        layer.msg(JSON.stringify(data.field));

        var postdata = JSON.stringify(data.field);
        $.ajax({
            url : '',
            type : 'post',
            dataType : 'json',
            contentType :"application/json",
            data : postdata,
            success : function (res_data) {
                alert(res_data)

                if (res_data == 'ok') {
                    location.href="/admin";
                }
            }
        })
        return false;
    });
</script>
</body>
